.App {
  /*position: fixed;*/
  /*bottom: 0;*/
  /*top: 0;*/
  /*left: 0;*/
  /*transform: translate(calc(50vw - 50%));*/
  /*text-align: center;*/
  /*background-color: #75ad91;*/
  min-height: 100vh;
  display: flex;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 100px;
  margin-bottom: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61fb97;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
