@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: bottom right no-repeat url("../public/background.png");
}

.AlphaRibbon:after{
  content: "alpha";
  position: fixed;
  z-index: 1070;
  width: 80px;
  height: 25px;
  background: red;
  color: white;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
