@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: bottom right no-repeat fixed url("../public/background.png");
}

.AlphaRibbon:after{
  content: "alpha";
  position: fixed;
  z-index: 1070;
  width: 80px;
  height: 25px;
  background: red;
  color: white;
  top: 7px;
  left: -20px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 27px;
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
  transform:rotate(-45deg);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.appearance-textfield {
  appearance: textfield;
}


/* TODO TEMP do properly with tailwind or whatever */
.tree {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;

  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
