@tailwind base;
@tailwind components;
@tailwind utilities;

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

@layer components {
  .BGImage {
    background: bottom center no-repeat fixed url("../public/background.png");
  }

  @keyframes float-up-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(32px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .FloatingTree {
    animation: 4s ease-in-out infinite float-up-down;
  }
  
  .appearance-textfield {
    appearance: textfield;
  }
}

.NavArrow {
  font-size: 0;
  line-height: 0;
  width: 0;
}

.NavArrowUp {
  border-bottom: 20px solid #4aa172;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.NavArrowDown {
  border-top: 20px solid #4aa172;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.NavArrowLeft {
  border-top: 10px solid transparent;
  border-right: 20px solid #4aa172;
  border-bottom: 10px solid transparent;
}

.NavArrowRight {
  border-top: 10px solid transparent;
  border-left: 20px solid #4aa172;
  border-bottom: 10px solid transparent;
}
