[workspace]
types = "packages/app/src/lib/client/types"

[features]
seeds = false
skip-lint = false
[programs.localnet]
sunrise_stake = "sunzv8N3A8dRHwUBvxgRDEbWKk8t7yiHR4FLRgFsTX6"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "packages/tests/fixtures/id.json"

#[test]
#startup_wait = 60000

[scripts]
test = "yarn test:anchor"

[[test.genesis]]
address = "MarBmsSgKXdrN1egZf5sqe1TMai9K1rChYNDJgjq7aD"
program = "packages/tests/fixtures/marinade_finance.so"

[[test.genesis]]
address = "SPoo1Ku8WFXoNDMHPsrGSTSG1Y47rzgn41SLUNakuHy"
program = "packages/tests/fixtures/blaze/spl_stake_pool.so"

[test.validator]
slots_per_epoch = "32"

[[test.validator.account]]
address = "8szGkuLTAux9XMgZ2vtY39jVSowEcpBfFfD8hXSEqdGC"
filename = "packages/tests/fixtures/marinade_state.json"

[[test.validator.account]]
address = "mSoLzYCxHdYgdzU16g5QSh3i5K3z3KZK7ytfqcJm7So"
filename = "packages/tests/fixtures/m_sol_mint_address.json"

[[test.validator.account]]
address = "7GgPYjS5Dza89wV6FpZ23kUJRG5vbQ1GM25ezspYFSoE"
filename = "packages/tests/fixtures/m_sol_leg.json"

[[test.validator.account]]
address = "B1aLzaNMeFVAyQ6f3XbbUyKcH2YPHu2fqiEagmiF23VR"
filename = "packages/tests/fixtures/treasury_msol_account.json"

[[test.validator.account]]
address = "UefNb6z6yvArqe4cJHTXCqStRsKmWhGxnZzuHbikP5Q"
filename = "packages/tests/fixtures/sol_leg_pda.json"

[[test.validator.account]]
address = "LPmSozJJ8Jh69ut2WP3XmVohTjL4ipR18yiCzxrUmVj"
filename = "packages/tests/fixtures/lp_mint_address.json"

[[test.validator.account]]
address = "Du3Ysj1wKbxPKkuPPnvzQLQh8oMSVifs3jGZjJWXFmHN"
filename = "packages/tests/fixtures/reserve_pda.json"


# Solblaze fixtures
[[test.validator.account]]
address = "bSo13r4TkiE4KumL71LsHTPpL2euBYLFx6h9HP3piy1"
filename = "packages/tests/fixtures/blaze/b_sol_mint_address.json"

[[test.validator.account]]
address = "azFVdHtAJN8BX3sbGAYkXvtdjdrT5U6rj9rovvUFos9"
filename = "packages/tests/fixtures/blaze/pool.json"

[[test.validator.account]]
address = "aEP3DRe8ssFXDFokXiNMo4UXLhpL7LEPVbneUsfqeaJ"
filename = "packages/tests/fixtures/blaze/validator_list.json"

[[test.validator.account]]
address = "aRkys1kVHeysrcn9bJFat9FkvoyyYD8M1kK286X3Aro"
filename = "packages/tests/fixtures/blaze/reserve_account.json"

[[test.validator.account]]
address = "Dpo148tVGewDPyh2FkGV18gouWctbdX2fHJopJGe9xv1"
filename = "packages/tests/fixtures/blaze/fees_depot.json"
